<?xml version="1.0"?>
<launch>
	<node name="dsl_grid3d" pkg="dsl_gridsearch" type="dsl_grid3d_node" output="screen">
		<param name="use_gazebo_odom" type="bool" value="true"/>
                <param name="odom_topic" type="String" value="/cartographer/odom"/>
		<param name="odom_frame_id" type="String" value="map"/>
		<param name="map_topic" type="String" value="/projected_map"/>
		<param name="use_3d" type="bool" value="true"/>
	</node>
</launch>
